
{% for member in site.data.pi %}

<div class="hidden-xs hidden-sm">
  <a id="profile" href="{{site.url}}{{site.baseurl}}/"></a><img src="{{ site.url }}{{ site.baseurl }}/assets/pi_imgs/{{ member.photo }}" class="img-responsive" width="90%" style="block:inline; margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:20px;border-radius: 50%;object-fit: cover;" /></a>
</div>
<!-- </div> -->

<div class="hidden-xs hidden-sm" id="toptitle" style="margin-left: 10pt">
  <h3><strong>{{ member.name }}</strong></h3>
</div>

<ul class="social-icons hidden-xs hidden-sm" style="margin-left: -19pt;list-style: none">
  {% if member.identity %}
    <li><div style="white-space: normal; margin-bottom: 1em;"><h4><i>{{ member.identity }}</i></h4></div></li>
  {% endif %}
  {% if member.location %}
    <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ member.location }}</li>
  {% endif %}
  {% if member.university %}
    <li><i class="fa fa-fw fa-university" aria-hidden="true"></i> {{ member.university }}</li>
  {% endif %}
  {% if member.email1 %}
    <li><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i><a href="mailto:{{ member.email1 }}">  Email</a></li>
  {% endif %}
  {% if member.email2 %}
    <li><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i><a href="mailto:{{ member.email2 }}">  Email</a></li>
  {% endif %}
  {% if member.github %}
    <li><i class="fa fa-fw fa-github"></i><a href="{{ member.github }}">  Github</a></li>
  {% endif %}
  {% if member.googlescholar %}
    <li><i class="ai ai-fw ai-google-scholar"></i><a href="{{ member.googlescholar }}">  Google Scholar</a></li>
  {% endif %}
  {% if member.semanticscholar %}
    <li><i class="ai ai-fw ai-semantic-scholar"></i><a href="{{ member.semanticscholar }}">  Semantic Scholar</a></li>
  {% endif %}
  {% if member.researchgate %}
    <li><i class="ai ai-fw ai-researchgate"></i><a href="{{ member.researchgate }}">  ResearchGate</a></li>
  {% endif %}
  {% if member.dblp %}
    <li><i class="ai ai-fw ai-dblp"></i><a href="{{ member.dblp }}">  DBLP</a></li>
  {% endif %}
  {% if member.linkedin %}
    <li><i class="fa fa-fw fa-linkedin"></i><a href="{{ member.linkedin }}">  LinkedIn</a></li>
  {% endif %}
  {% if member.twitter %}
    <li><i class="fa fa-fw fa-twitter"></i><a href="{{ member.twitter }}">  Twitter</a></li>
  {% endif %}
  {% if member.cv %}
    <li><i class="fa fa-fw fa-book"></i><a href="{{ member.cv }}">  CV</a></li>
  {% endif %}
</ul>

<div class="visible-xs visible-sm">
  <table>
    <tbody>
        <tr>
          <td width="35%">
            <a id="profile" href="{{site.url}}{{site.baseurl}}/"></a><img src="{{ site.url }}{{ site.baseurl }}/assets/pi_imgs/{{ member.photo }}" class="img-responsive" width="80%" style="block:inline; margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px;border-radius: 50%;object-fit: cover;" /></a>
          </td>
          <td>
            <div id="toptitle" style="margin-left: auto">
              <h3><strong>{{ member.name }}</strong></h3>
            </div>
          
            {% if member.identity %}
              <div style="white-space: normal; margin-bottom: 1em; margin-left: 2pt;"><h4><i>{{ member.identity }}</i></h4></div>
            {% endif %}

            {% if member.email1 %}
              <a href="mailto:{{ member.email1 }}"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.email2 %}
              <a href="mailto:{{ member.email2 }}"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.github %}
              <a href="{{ member.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.googlescholar %}
              <a href="{{ member.googlescholar }}"><i class="ai ai-fw ai-google-scholar" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.semanticscholar %}
              <a href="{{ member.semanticscholar }}"><i class="ai ai-fw ai-semantic-scholar" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.researchgate %}
              <a href="{{ member.researchgate }}"><i class="ai ai-fw ai-researchgate" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.dblp %}
              <a href="{{ member.dblp }}"><i class="ai ai-fw ai-dblp" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.linkedin %}
              <a href="{{ member.linkedin }}"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.twitter %}
              <a href="{{ member.twitter }}"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
            {% endif %}
            {% if member.cv %}
              <a href="{{ member.cv }}"><i class="fa fa-fw fa-book" aria-hidden="true"></i></a>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
</div>
  
{% endfor %}
