---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <!-- <div class="row">
        {{ content }}
      </div> -->

      <div class="row">
        <!-- 左侧 Sidebar -->
        <aside class="col-sm-3">
          {% include sidebar.html %}
        </aside>

        <!-- 右侧内容 -->
        <main class="col-sm-9">
          {{ content }}
        </main>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
